{% extends 'menu.html' %}
{% load static %}
{% load lookup_bkp %}

{% block content %}

<script type="text/javascript" src="{% static 'js/gui_lookup.js' %}"></script>

<div class='container'>
    <input type='hidden' id="backup_name" value='{{backup_name}}'></input>
    <input type='hidden' id="page" value='{{page}}'></input>
    <input type='hidden' id="paginated_by" value='{{paginated_by}}'></input>
    <input type='hidden' id="search_field" value='{{search_field}}'></input>

    <center><h2>{{backup_name}}</h2></center>
    <hr>
<br>
    <div class="col-md-4 pull-right">
        <form action='?teste' method='get'>
            <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit">Pesquisar</button>
                <input type='hidden' name="backup_name" value='{{backup_name}}'></input>
                <input type='hidden' name="page" value='{{page}}'></input>
                <input type='hidden' name="paginated_by" value='{{paginated_by}}'></input>
              </span>
              <input type="text" id='search' name='search' class="form-control" placeholder="{{search_field}}">
            </div><!-- /input-group -->
        </form>
    </div><!-- /.col-lg-6 -->
    <br>
    <div class="panel-body">

        <table class="table table-bordered">
            <thead> 
                <tr> 
                    <th>Data/Hora Início do último backup</th>
                    <th>Data/Hora Término do último backup</th>
                    <th>Última atualização</th>
                    <th>Percentual completo</th>
                    <th>Status</th>
                    <th>Log</th>
                </tr> 
            </thead> 
            <tbody id='body_lookups'> 
                {% for backup in object_list%}

                <tr class="odd gradeX" id='{% get_status_display backup.pk %}'>
                    <td>{% get_start_date backup.pk %}</td>
                    <td>{% get_finish_date backup.pk %}</td>
                    <td>{% last_update backup.pk %}</td>
                    <td>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {% transform_percentage backup.percents_completed %}%;">
                            {{backup.percents_completed}}%
                          </div>
                        </div>
                    </td>
                    <td>{{backup.get_status_display}}</td>
                    <td>
                        <center>
                            <a href="{% url 'core:backup_lookup_log' backup.pk %}"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
                        </center>
                    </td>

                </tr>
                {% endfor %}
            </tbody> 
        </table>
        <nav class="pull-right" aria-label="...">
            <ul class="pagination"> 
                <li class="disabled">
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">«</span>
                    </a></li> <li class="active">
                </li>
                {% for page in pagination %}
                <li class="{{page.0}}">
                    <a href="{{link_backup_lookup}}&page={{page.1}}&search={{search_field}}">{{page.1}}</a>
                </li> 
                {% endfor %}
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">»</span>
                    </a>
                </li> 
            </ul> 
        </nav>
    </div>
</div>
<br>
<br>
{% endblock %}
