{% load static %}
{% load lookup_bkp %}


{% for backup in object_list%}

    <tr class="odd gradeX" id='{% get_status_display backup.pk %}'>
        <td>{% get_start_date backup.pk %}</td>
        <td>{% get_finish_date backup.pk %}</td>
        <td>{% last_update backup.pk %}</td>
        <td>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {% transform_percentage backup.percents_completed %}%;">
                {{backup.percents_completed}}%
              </div>
            </div>
        </td>
        <td>{{backup.get_status_display}}</td>
        <td>
            <center>
                <a href="{% url 'core:backup_lookup_log' backup.pk %}"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
            </center>
        </td>

    </tr>
{% endfor %}